<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<center>
<h2>homepage</h2>

<h3>Book Details</h3>
<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Description</th>
				<th>Price</th>
				<th>Is Available?</th>			
			</tr>
		</thead>
		<tbody>
			<tr th:each="book : ${books}">
				<td th:text="${book.id}"></td>
				<td th:text="${book.title}"></td>
				<td th:text="${book.description}"></td>
				<td th:text="${book.price}"></td>
				<td th:text="${book.isAvailable} ? 'Yes' : 'No'"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>